
{{ 'main-proudct.css' | asset_url | stylesheet_tag }}
{%- stylesheet -%}
  .landing-page .image-element__wrap img[data-sizes=auto].lazyloaded {
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }
{%- endstylesheet %}
{%- comment -%}
<section
  class="section">
  <div
    class="
            container
            content
            page
          ">
    <div
      class="one-whole column">
      <h1>{{ page.title }}</h1>
      <div
        class="feature-divider"></div>
    </div>

    {%
       render 'page-multi-column',
       content: page.content, %}
  </div>
</section>
{%- endcomment -%}