{{ 'main-proudct.css' | asset_url | stylesheet_tag }}
{{ 'landing-page-style.css' | asset_url | stylesheet_tag }}

<script>
  window.addEventListener('DOMContentLoaded', function(event) {
    function handleShopLinkClickEvent(event) {
      event.preventDefault();
      var productSection = document.querySelector('.landing-page .product-main');
      if (productSection) {
        productSection.scrollIntoView({ behavior: 'smooth' });
      }
    }
  
    function init() {
      var shopLinks = document.querySelectorAll('.landing-page.shop-link a');
      console.log(shopLinks.length);
      shopLinks.forEach(function(link) {
        link.addEventListener('click', handleShopLinkClickEvent)
      });
    }
  
    function unload() {
      var shopLinks = document.querySelectorAll('.landing-page.shop-link a');
      shopLinks.forEach(function(link) {
        link.removeEventListener('click', handleShopLinkClickEvent)
      });
    }

    if (Shopify.designMode) {
      document.addEventListener('shopify:section:load', init);
      document.addEventListener('shopify:section:unload', unload);
    }

    init();
  });
</script>

{%- comment -%}
<section
  class="section">
  <div
    class="
            container
            content
            page
          ">
    <div
      class="one-whole column">
      <h1>{{ page.title }}</h1>
      <div
        class="feature-divider"></div>
    </div>

    {%
       render 'page-multi-column',
       content: page.content, %}
  </div>
</section>
{%- endcomment -%}