<style>
.faq-main-title {
    text-align: center;
    font-family: 'neuzeit_grotesk_regular' !important;
    font-size: 36px !important;
    letter-spacing: 2px !important;
    font-weight: 700 !important;
    padding: 60px 0 0 !important;
}
</style>

<h1 class="faq-main-title">{{ section.settings.top_page_header }} </h1>

{% schema %}
  {
  "name": "Top Page Header",
  "class": "top-page-header",
  "settings": [
    {
      "type": "text",
      "id": "top_page_header",
      "label": "Top Page Header"
    }
  ],
  "presets": [
    {
      "name": "Top Page Header"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}