
{{ 'main-proudct.css' | asset_url | stylesheet_tag }}
<style>
  /* Override poorly scoped CSS rule for images in style.css */
  .landing-page .image-element__wrap img[data-sizes=auto].lazyloaded {
    width: 100%;
    
    height: auto !important; /* !important for precedence */
    margin-bottom: 0;
  }

  .landing-page .product_section.container {
    justify-content: center;
    background-color: #f1f2f2;
  }
</style>
{%- comment -%}
<section
  class="section">
  <div
    class="
            container
            content
            page
          ">
    <div
      class="one-whole column">
      <h1>{{ page.title }}</h1>
      <div
        class="feature-divider"></div>
    </div>

    {%
       render 'page-multi-column',
       content: page.content, %}
  </div>
</section>
{%- endcomment -%}