.shopify-section--image-with-text .wide-section-one-half-img .image-element__wrap img[data-sizes=auto].lazyloaded {
    width: 100%;   
}
.shopify-section--image-with-text .wide-section-one-half-img .featured-link--half .collection_title{
    font-size: 48px;
    font-weight: bold;
    font-family: neuzeitgroteskblack;
    line-height: 1;
}
.shopify-section--image-with-text .wide-section-one-half-img .featured-link--half .description {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    font-weight: normal;
}
.shopify-section--image-with-text .wide-section-one-half-img .featured-link--half  .global-button {
    border-radius: 6px;
    padding: 14px 25px;
    font-size: 14px;
    font-weight: 700;
    min-width: 220px;
}
@media screen and (max-width: 798px) {
    .shopify-section--image-with-text .wide-section-one-half-img .featured-link--half .collection_title {
        font-size: 36px;
        padding-left: 0;
    }
    .shopify-section--image-with-text .wide-section-one-half-img .featured-link--half .description {
        font-size: 15px;
    }
    .featured-link--half .info {
        padding: 3rem 0;
    }
}