.shopify-section--text-columns-with-images h2.title{
    font-size: 50px;
    line-height: 1;
    margin: 0;
    max-width: 600px;
}
.shopify-section--text-columns-with-images .text-column{
    padding-left: calc(16px / 2);
    padding-right: calc(16px / 2);
    margin: 0;
    width: 25%;
}
.shopify-section--text-columns-with-images .image-element__wrap img[data-sizes=auto].lazyloaded {
    width: 100%;
    margin-bottom: 0;
}
.shopify-section--text-columns-with-images  .text-columns-with-images__content-overlay_wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px 30px;
    height: 100%;
}
.shopify-section--text-columns-with-images  .text-columns-with-images__content-overlay_wrapper > a{
    height: 100%;
    display: flex;
    align-items: end;
}