.shopify-section--text-columns-with-images h2.title{
    font-size: 50px;
    line-height: 1;
    margin: 0;
    max-width: 600px;
}
.shopify-section--text-columns-with-images .text-column{
    padding-left: calc(16px / 2);
    padding-right: calc(16px / 2);
    margin: 0;
    width: 25%;
}
.shopify-section--text-columns-with-images .image-element__wrap img[data-sizes=auto].lazyloaded {
    width: 100%;
    margin-bottom: 0;
}