.list-collections.equal-columns--outside-trim .one-fourth {
    width: 25%;
    margin-bottom: 0;
}
.container .list-collections .column{
    padding-left: calc(30px / 2);
    padding-right: calc(30px / 2);
    margin: 0;
}
.list-collections .image-element__wrap img[data-sizes=auto].lazyloaded {
    width: 100%;
    margin-bottom: 0;
}
a.list-collection-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    text-align: center;
    background-color: transparent;
    background-image: linear-gradient(transparent, transparent, rgba(0,0,0,0.4));
}

a.list-collection-overlay .list-collection-title {
    position: absolute;
    width: 100%;
    bottom: 24px;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
    .list-collections.equal-columns--outside-trim .one-fourth {
        width: 50%;
    }
    .container .list-collections .column {
        padding-left: 8px;
        padding-right: 8px;
        margin: 8px 0;
    }
    a.list-collection-overlay .list-collection-title {
        bottom: 10px;
    }
}