.home-refresh-newsletter .container .columns {
    width: 100%;
    left: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-refresh-newsletter .newsletter_section h2,
.home-refresh-newsletter .newsletter_section .newsletter-text {
    color: white;
}