.shopify-section--image-with-text-overlay .is-width-wide .banner:not(.homepage-slideshow) .image-element__wrap img[data-sizes=auto].lazyloaded {
    height: auto!important;
}
.shopify-section--image-with-text-overlay .is-width-wide .image-element__wrap img[data-sizes=auto].lazyloaded {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}

@media only screen and (min-width: 1025px) {
.shopify-section--image-with-text-overlay .caption .headline {
    font-size: 70px;
    margin-bottom: 0px;
    line-height: 1;
    letter-spacing: 0;
}
.shopify-section--image-with-text-overlay .caption .subtitle {
    font-size: 18px;
    max-width: 500px;
    font-weight: normal;
    padding: 10px 0;
}
.shopify-section--image-with-text-overlay .caption .subtitle p {
    margin-bottom: 0;
}
.shopify-section--image-with-text-overlay .caption .button-grid-container {
    margin-top: 10px;
}
.shopify-section--image-with-text-overlay .caption a.global-button--primary {
    border-radius: 6px;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 700;
}
}
@media screen and (max-width: 798px) {
    .shopify-section--image-with-text-overlay .caption.position-left {
        top: initial;
        bottom: 50px;
        transform: translateY(0);
    }
}
